.wrapper{
    min-height: 100vh;
    padding: 20px;
}
.block{
    width: 1000px;
    height: 400px;
    border: 26px solid #2e2e33;
    margin: auto;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 10px;
    overflow: auto;
}
