.create-panel {
  width: 1000px;
  position: absolute;
  top: 495px;
  left: 50%;
  margin-left: -500px;
  background-color: #2e2e33;
  border-radius: 6px;
  padding: 20px;
  color: white;
  min-height: 400px;
}

h3 {
  margin-bottom: 30px;
  text-align: center;
}

.chose {
  border: 1px solid white;
  border-bottom: none;
}

.chose input {
  display: none;
}

.wrapper-table, .listUnordered {
  border: 1px solid white;
  border-top: none;
  padding: 10px;
}

.width-height,
.styleTable,
.countTable,
.choseList, .list-wrapper {
  margin-left: 10px;
  display: flex;
  margin-bottom: 30px;
  width: 928px;
  height: 50px;
  border: 1px dashed white;
  color: white;
}

.styleTable {
  display: flex;
  margin-top: 20px;
}

.chose label {
  display: inline-block;
  height: 25px;
  border: 1px solid white;
  border-bottom: none;
  position: relative;
  top: -25px;
  background-color: #2e2e33;
  left: 9px;
  width: 72px;
  margin-right: -2px;
  text-align: center;
  transform: skew(-10deg, 0deg);
}

.chose input:checked+label {
  font-weight: bold;
  padding-bottom: 10px;
  top: -35px;
  height: 35px;
}

.width-height label {
  display: inline-block;
  margin: 15px 10px 0px;
}
.width-height input{
  margin-top: 12px;
}
.form {
  width: 200px;
  height: 25px;
}

.title {
  font-weight: bold;
  margin: 10px 0px 0px;
}

.form-select {
  width: 400px;
  background-color: white;
}

.heightTitle,
.styleTitle,
.countTitle,
.typeList, .titleListUnordered {
  font-weight: bold;
  position: relative;
  top: -10px;
  background-color: #2e2e33;
  width: 270px;
  text-align: center;
}

.styleTitle {
  width: 260px;
}

.select {
  width: 150px;
  height: 25px;
  margin-top: 11px;
}

#borderWidth {
  width: 150px;
}

.styleTable label, .countTable label {
  margin: 12px 10px;
  padding-top: 4px;
}
.styleTable input, .countTable input{
  margin-top: 12px;
}

#borderColor {
  width: 66px;
  height: 19px;
  outline: 1px solid #ffffff;
  outline-offset: 4px;
  margin-top: 14px;
}
.countTitle{
  width: 218px;
}
.btn {
  display: block;
  width: 109px;
  height: 36px;
  font-size: 16px;
  color: white;
  background-color: #54331a;
  margin: auto;
  box-shadow: 0 0 6px rgb(0 0 0 / 60%);
  border: none;
  border-radius: 5px;
}
.btn:hover{
  background-color: #724523;  
}
.btn-preview{
width: 200px;
margin:10px 0px;
}
.previewWrapper{
  width: 150px;
  height: 100px;
  margin: auto;
}

.preview {
  width: 350px;
  height: 250px;
  border: 1px solid black;
  margin: auto;
  background-color: #4c4a4d;
  overflow: auto;
  position: relative;
  top: -105px;
  border-radius: 28px;
}
.picture{
  background-image: url(..//../../image/computer.svg);
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: auto;
}
.brown{
  background-color: #54331a;
  width: 348px;
  height: 21px;
  display: flex;
  justify-content: flex-end;
}
.close{
  background-color: chocolate;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}
.typeList{
  width: 100px;
}
.choseList div{
  margin: 16px 216px;
  width: 500px;
}
.choseList label{
  margin-right: 30px;
}
.titleListUnordered{
  width: 138px;
}
.listUnordered label{
  width: 172px;
  margin: 12px 10px;
  padding-top: 4px;
}
.listUnordered input{
  margin-top: 12px;
}
.listUnordered select{
  margin: 12px 0px 0px 10px;
  width: 199px;
  height: 26px;
}
.choseList-wrapper{
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.listUnordered{
  margin-top: -30px;
}
.list-wrapper{
  margin-left: 0px;
  margin-top: 10px;
}
.visualPreview{
  padding: 20px;
}