<div class="create-panel">
  <h3>Що додамо?</h3>
  <div class="chose">
    <input type="radio" name="item" id="table" value="table" [(ngModel)]="selectedItem" class="form-check-input" (change)="clearPreview()">
    <label for="table">Таблиця</label>
    <input type="radio" name="item" id="list" value="list" [(ngModel)]="selectedItem" class="form-check-input" (change)="clearPreview()">
    <label for="list">Список</label>
  </div>
  <div class="table" *ngIf="selectedItem=='table'">
    <form #form="ngForm">
      <div class="wrapper-table">
        <div class="width-height">
          <p class="heightTitle">Ширина і висота комірки таблиці</p>
          <label for="widthCell">Ширина</label>
          <input type="number" name="widthCell" id="widthCell" class="form" ngModel>
          <label for="heightCell">Висота</label>
          <input type="number" name="heightCell" id="heightCell" class="form" ngModel>
        </div>
        <div class="styleTable">
          <p class="styleTitle">Товщина, колір, тип лінії таблиці</p>
          <div>
            <label for="borderWidth">Товщина</label>
            <input type="number" name="borderWidth" id="borderWidth" class="form" ngModel>
          </div>
          <div>
            <label for="borderType">Тип лінії</label>
            <select name="borderType" class="select" [ngModel]="defaultBorder">
              <option value="solid" selected>Пряма</option>
              <option value="dashed">Пунктирна</option>
              <option value="inset">Вкладена</option>
            </select>
          </div>
          <div>
            <label for="borderColor">Колір</label>
            <input type="color" id="borderColor" name="borderColor" value="#ff0000" [ngModel]="defaultColor">
          </div>
        </div>
        <div class="countTable">
          <p class="countTitle">Кількість рядків і стовпців</p>
          <label for="countCell">Кількість стовпців</label>
          <input type="number" name="countCell" id="countCell" class="form" ngModel>
          <label for="countRow">Кількість рядків</label>
          <input type="number" name="countRow" id="countRow" class="form" ngModel>
        </div>
        <input type="button" value="Додати" (click)="addTable(form.value)" class="btn">
      </div>
    </form>
    <button (click)="showPreview(form.value)" class="btn btn-preview">Подивитись на приклад</button>
    <div (click)="showPreviewBlock()" class="previewWrapper">
      <div class="picture"></div>
      <p>Показати приклад</p>
    </div>
    <div class="preview" *ngIf=visible>
      <div class="brown">
        <div class="close" (click)="closePreviewBlock()"></div>
      </div>
      <div [innerHTML]="safeTable"></div>
    </div>
  </div>

  <div class="list" *ngIf="selectedItem=='list'">
    <div class="choseList-wrapper">
      <div class="choseList">
        <p class="typeList">Тип списку</p>
        <div>
          <input type="radio" name="itemList" id="ordered" value="ordered" [(ngModel)]="selectedList"  (change)="clearPreview()">
          <label for="ordered">Нумерований</label>
          <input type="radio" name="itemList" id="unordered" value="unordered" [(ngModel)]="selectedList"  (change)="clearPreview()">
          <label for="unordered">Маркований</label>
        </div>
      </div>
    </div>
    <form #form="ngForm" *ngIf="selectedList=='unordered'">
      <div class="listUnordered">
        <div class="list-wrapper">
          <p class="titleListUnordered">Параметри списку</p>
          <label for="countLi">Кількість елементів</label>
          <input type="number" name="countLi" id="countLi" class="form" ngModel>
          <div class="text-type">
            <label for="borderType" class="form-label">Тип маркування</label>
            <select name="type" class="form-select" [ngModel]="defaultType">
              <option value="circle">circle</option>
              <option value="disc">disc</option>
              <option value="square">square</option>
            </select>
          </div>
        </div>
        <input type="button" value="Додати" (click)="addList(form.value)" class="btn">
      </div>
      <button (click)="showPreviewList(form.value)" class="btn btn-preview">Подивитись на приклад</button>
      <div (click)="showPreviewBlock()" class="previewWrapper">
        <div class="picture"></div>
        <p>Показати приклад</p>
      </div>
      <div class="preview" *ngIf=visible>
        <div class="brown">
          <div class="close" (click)="closePreviewBlock()"></div>
        </div>
        <div [innerHTML]="safeList" class="visualPreview"></div>
      </div>
    </form>
    <div *ngIf="selectedList=='ordered'">
      <form #form="ngForm">
        <div class="listUnordered">
          <div class="list-wrapper">
            <p class="titleListUnordered">Параметри списку</p>
            <label for="countLi">Кількість елементів</label>
            <input type="number" name="countLi" id="countLi" class="form" ngModel>
            <div class="text-type">
              <label for="borderType" class="form-label">Тип маркування</label>
              <select name="type" [ngModel]="defaultTypeOrdered" class="form-select">
                <option value="decimal">Цифри</option>
                <option value="lower-roman">Арабські числа</option>
                <option value="upper-alpha">Букви</option>
              </select>
            </div>
          </div>
          <input type="button" value="Додати" (click)="addOrderedList(form.value)" class="btn">
        </div>
        <button (click)="showPreviewOrderList(form.value)"class="btn btn-preview">Подивитись на приклад</button>
        <div (click)="showPreviewBlock()" class="previewWrapper">
          <div class="picture"></div>
          <p>Показати приклад</p>
        </div>
        <div class="preview" *ngIf=visible>
          <div class="brown">
            <div class="close" (click)="closePreviewBlock()"></div>
          </div>
          <div [innerHTML]="safeOrderList" class="visualPreview"></div>
        </div>
      </form>
    </div>

  </div>

</div>