.create-panel {
  width: 1000px;
  height: 760px;
  border: 1px solid black;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -500px;
  background-color: rgb(255, 252, 229);
  border-radius: 6px;
  padding: 20px;
}

.chose {
  margin-bottom: 10px;
}

.form-check-label {
  margin: 0px 10px 0px 5px;
}
.form-control{
    width: 400px;
}
.title{
    font-weight: bold;
    margin: 10px 0px 0px;
}
.form-select{
    width: 400px;
    background-color: white;
}
.btn{
    margin-top: 10px;
}
.preview{
  width: 400px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  background-color: white;
  overflow: auto;
}