<div class="create-panel">
  <h2>Що додамо?</h2>
  <div class="chose">
    <input type="radio" name="item" id="table" value="table" [(ngModel)]="selectedItem" class="form-check-input">
    <label for="table" class="form-check-label">Table</label>
    <input type="radio" name="item" id="list" value="list" [(ngModel)]="selectedItem" class="form-check-input">
    <label for="list">List</label>
  </div>
  <div class="table" *ngIf="selectedItem=='table'">
    <form #form="ngForm">
      <div class="width-height">
        <p>Ширина і висота комірки таблиці</p>
        <label for="widthCell" class="form-label">Ширина</label>
        <input type="number" name="widthCell" id="widthCell" class="form-control" ngModel>
        <label for="heightCell" class="form-label">Висота</label>
        <input type="number" name="heightCell" id="heightCell" class="form-control" ngModel>
      </div>
      <p class="title">Table style:</p>
      <div class="styleTable">
        <div>
          <label for="borderWidth" class="form-label">Товщина</label>
          <input type="number" name="borderWidth" id="borderWidth" class="form-control" ngModel>
        </div>
        <div>
          <label for="borderType" class="form-label">Тип лінії</label>
          <select name="borderType" class="form-select" aria-label="Default select example" [ngModel]="defaultBorder">
            <option value="solid" selected>Пряма</option>
            <option value="dashed">Пунктирна</option>
            <option value="inset">Вкладена</option>
          </select>
        </div>
        <div>
          <label for="borderColor" class="form-label">Колір</label>
          <input type="color" id="borderColor" name="borderColor" value="#ff0000" [ngModel]="defaultColor">
        </div>
      </div>
      <div class="countTable">
        <label for="countCell" class="form-label">Кількість стовпців</label>
        <input type="number" name="countCell" id="countCell" class="form-control" ngModel>
        <label for="countRow" class="form-label">Кількість рядків</label>
        <input type="number" name="countRow" id="countRow" class="form-control" ngModel>
        
      </div>
      <input type="button" value="Create Table" (click)="addTable(form.value)" class="btn btn-success">
    </form>
    <button (click)="showPreview(form.value)">Preview</button>
    <div (click)="showPreviewBlock()">Показати приклад</div>
    <div class="preview" [innerHTML]="safeTable" *ngIf=visible></div>
  </div>
  <div class="list" *ngIf="selectedItem=='list'">
    <form #form="ngForm">
      <label for="countLi" class="form-label">Input count of list items:</label>
      <input type="number" name="countLi" id="countLi" class="form-control" ngModel>
      <div class="text-type">
        <label for="borderType" class="form-label">Type of marks:</label>
        <select name="type" class="form-select" aria-label="Default select example" [ngModel]="defaultType">
          <option value="circle">circle</option>
          <option value="disc">disc</option>
          <option value="square">square</option>
        </select>
      </div>
      <input type="button" value="Create List" (click)="addList(form.value)" class="btn btn-success">
    </form>
    <button (click)="showPreviewList(form.value)">Preview</button>
    <div class="preview" [innerHTML]="safeList"></div>
  </div>

</div>
