<div class="edit-panel">
  <form class="edit-block">
    <div class="edit-wrapper">
      <div class="addButtons">
        <div *ngFor="let button of buttons" (click)="addTag(button)">{{button}}</div>
      </div>
      <textarea class="edit-area" name="edit" [(ngModel)]="str"></textarea>
    </div>
    <div class="buttons">
      <input type="button" value="Зберегти" class="btn" (click)="save()">
      <input type="button" value="Додати" class="btn" (click)="create()">

    </div>
  </form>
</div>
<app-create *ngIf="visibleCreatePanel" (AddTable)="newTable($event)" (AddList)="newList($event)"
  (AddOrderList)="newOrdList($event)"></app-create>